[submodule "db-postgres"]
	path = db-postgres
	url = https://github.com/Brazwed/db-postgres.git
[submodule "db-dragonfly"]
	path = db-dragonfly
	url = https://github.com/Brazwed/db-dragonfly.git
[submodule "db-mysql"]
	path = db-mysql
	url = https://github.com/Brazwed/db-mysql.git
[submodule "db-mariadb"]
	path = db-mariadb
	url = https://github.com/Brazwed/db-mariadb.git
[submodule "db-mongodb"]
	path = db-mongodb
	url = https://github.com/Brazwed/db-mongodb.git
[submodule "db-valkey"]
	path = db-valkey
	url = https://github.com/Brazwed/db-valkey.git
