[submodule "dbs/db-postgres"]
	path = dbs/db-postgres
	url = https://github.com/Brazwed/db-postgres.git
[submodule "dbs/db-dragonfly"]
	path = dbs/db-dragonfly
	url = https://github.com/Brazwed/db-dragonfly.git
[submodule "dbs/db-mysql"]
	path = dbs/db-mysql
	url = https://github.com/Brazwed/db-mysql.git
[submodule "dbs/db-mariadb"]
	path = dbs/db-mariadb
	url = https://github.com/Brazwed/db-mariadb.git
[submodule "dbs/db-mongodb"]
	path = dbs/db-mongodb
	url = https://github.com/Brazwed/db-mongodb.git
[submodule "dbs/db-valkey"]
	path = dbs/db-valkey
	url = https://github.com/Brazwed/db-valkey.git
